.footer-container {
    background-color:   #2AC2C2  ;
    color: white;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-image {
    width: auto;
    margin: 1em;
}

.footer-image img {
    max-width: 100%;
    height: auto;
    opacity: 50%;
}
.newsletter{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.newsletter h3{
    font-size: 2em;
    text-align: right;
}
.newsletter p{
    font-size: 0.8em;
    text-align: right;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-logo{
    width: 6em;
    margin: 1em;
}

.footer-logo img{
    max-width: 100%;
    height: auto;
}

.footer-menu ul {
    width: 15em;
    list-style-type: none
    ;
}
.footer-menu a {
    text-decoration: none;
    color: white;
}
.footer-copy{
    text-align: center;
    font-size: 0.6em;
    opacity: 80%;
}
.arrow-icon{
    padding: 1em;
}

.sign-up input {
    border: none;
    padding: 1em;
}

.newsletter button {
    padding: 1em;
    border: none;
    width: 16%;
}